</div> <!-- End Wrapper -->
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 brand-area">
                    <a class="brand" href="/">
                        <img src="/images/logo-icon.png" alt="">
                        Bitshares Sсan
                    </a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4 map-area">
                    <img src="/images/footer-map.png" alt="">
                    <p>Btsscan is a Block Explorer and Analytics Platform for Bitshares, a decentralized smart contracts platform.</p>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
                    <h3>Latest Discussions</h3>
                    <a href="#"><span class="forum">Hello! How You listed were my tokens BINARYCOIN - 8,245....</span></a>
                    <a href="#"><span class="forum">DGTX contract address</span></a>
                    <a href="#"><span class="forum">I see people talking about an ICO. Can someone please le...</span></a>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 footer-links">
                    <h3>Links</h3>
                    <a href="#"><span class="contact">Contact Us</span></a>
                    <a href="#"><span class="forum">Forum</span></a>
                    <a href="#"><span class="twitter">Twitter</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-9">
                    <div class="currency-slider">
                        
                    </div>

                </div>
                <div class="col-xs-6 col-sm-3 text-right">
                    <p class="copyright">
                        Copyright 2018. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </div>


</footer>

<script src="/js/jquery-2.2.4.js"></script>
<script src="/js/bootstrap-tooltip.min.js"></script>
<script src="/js/jquery.nanoscroller.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/slick.js"></script>
<script src="/js/main.js"></script>
<script src="/js/account.js"></script>
</body>
</html>
