{% extends 'base.html.twig' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Maintenance</h1>
                <p>
                    We're busy updating the scanner for you. Please check back soon.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
