{% extends 'base.html.twig' %}

{% block content %}
    <h1>Not found</h1>

    <p>
        The requested block couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('dashboard_index') }}">return to the homepage</a>.
    </p>
{% endblock %}
